In [ ]:
import pandas as pd
from datetime import datetime, date
from processing import Process

procdata = Process()

In [ ]:
dftweet = pd.read_json('processed_data/twitter-results-2022-05-28_04-30-46.json')

dfmaster = pd.read_csv('processed_data/prouni-processado.csv')

In [ ]:
dftweet.head(10)

In [ ]:
print(dftweet.columns)
dftweet.count()
dftweet[dftweet['positive']==True]
dftweet[dftweet['verified']==True]
dftweet[dftweet['sentiment']!=0.0].count()

In [ ]:
tweets = dftweet['frequent'].agg('sum')
twtts = procdata.freq_tweet(tweets)

print("Sem tratamento", len(twtts))

tweetsfreq = pd.DataFrame(twtts, columns=['palavra', 'frequencia'])\
    .drop_duplicates(subset=['palavra'])\
    .sort_values(by=['frequencia'], ascending=False)

print("Com tratamento", tweetsfreq.__len__())
tweetsfreq.head(10)

In [ ]:
tempdftweets = dftweet.copy()
tempdftweets['frequent'] = procdata.words_in_tweet(tempdftweets['frequent'])

tweetsfreq['sentimento'] = tweetsfreq['palavra'].apply(lambda w: procdata.get_sentiment_of_value(tempdftweets, w))
tweetsfreq = tweetsfreq.reset_index(drop=True)
tweetsfreq.head(10)

In [ ]:
sdates = dftweet['date'].map(lambda x: x.date()).drop_duplicates().reset_index(drop=True)
ssentdate = sdates.apply(lambda sd: dftweet.loc[dftweet['date'].apply(lambda d: d.date() == sd)]['sentiment'].mean())
temptweets = pd.DataFrame({
    'data': sdates,
    'sentimento': ssentdate
})
temptweets

In [ ]:
stateslist = dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6).index
sstates = pd.Series(stateslist).reset_index(drop=True)

sstatesmensals = sstates.apply(lambda sd: dfmaster.loc[dfmaster['estado'].apply(lambda e: e == sd )]['mensalidade'].median())
bestmensals = pd.DataFrame({
    'estado': sstates,
    'mensalidade': sstatesmensals
})
bestmensals.sort_values(by='mensalidade', ascending=False)

In [ ]:
# TODO: Obter mensalidade de cada estado e se os estudantes terem tido acesso a internet durante a escola influencia

In [ ]:
stateslist = dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6).index
sstates = pd.Series(stateslist).reset_index(drop=True)
sstatesmensals = sstates.apply(lambda state: dfmaster.loc[dfmaster['estado'].apply(lambda estado: estado == state)]['nota_bolsa'].median())
bestgrades = pd.DataFrame({
    'estado': sstates,
    'notabolsa': sstatesmensals.map(lambda x: round(x))
})
bestgrades.sort_values(by='notabolsa', ascending=False)

In [ ]:
# TODO: Obter nota das bolsas de cada estado e se a qualidade da escola influencia

In [ ]:
dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6)

In [49]:
sdates = dftweet['date'].map(lambda x: x.date()).drop_duplicates().reset_index(drop=True)
ssentdate = sdates.apply(lambda sd: dftweet.loc[dftweet['date'].apply(lambda d: d.date() == sd)]['sentiment'].mean())
temptweets = pd.DataFrame({
    'data': sdates,
    'sentimento': ssentdate
})
temptweets

         data  sentimento
0  2022-05-24    0.018400
1  2022-05-23   -0.105695
2  2022-05-22   -0.194256
3  2022-05-21    0.110800
4  2022-05-20   -0.100331
5  2022-05-19   -0.158281
6  2022-05-18   -0.026539
7  2022-05-17   -0.066903

In [108]:
stateslist = dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6).index
sstates = pd.Series(stateslist).reset_index(drop=True)

sstatesmensals = sstates.apply(lambda sd: dfmaster.loc[dfmaster['estado'].apply(lambda e: e == sd )]['mensalidade'].median())
bestmensals = pd.DataFrame({
    'estado': sstates,
    'mensalidade': sstatesmensals
})
bestmensals.sort_values(by='mensalidade', ascending=False)

  estado  mensalidade
4     BA       580.00
1     MG       536.04
0     SP       498.00
3     RS       443.00
2     PR       393.35
5     SC       393.35

In [ ]:
# TODO: Obter mensalidade de cada estado e se os estudantes terem tido acesso a internet durante a escola influencia

In [112]:
stateslist = dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6).index
sstates = pd.Series(stateslist).reset_index(drop=True)
sstatesmensals = sstates.apply(lambda state: dfmaster.loc[dfmaster['estado'].apply(lambda estado: estado == state)]['nota_bolsa'].median())
bestgrades = pd.DataFrame({
    'estado': sstates,
    'notabolsa': sstatesmensals.map(lambda x: round(x))
})
bestgrades.sort_values(by='notabolsa', ascending=False)

  estado  notabolsa
1     MG        583
4     BA        571
3     RS        567
0     SP        551
5     SC        550
2     PR        545

In [ ]:
# TODO: Obter nota das bolsas de cada estado e se a qualidade da escola influencia

In [26]:
dfmaster.groupby(by='estado').size().sort_values(ascending=False).head(6)

estado
SP    7277
MG    2586
PR    2244
RS    1891
BA    1676
SC    1139
dtype: int64